.container {
  width: 100%;
}
.container .container_elements .container_elements_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
}
@media (min-width: 770px) {
  .container .container_elements .container_elements_menu {
    background-image: url("../header.webp");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    border-radius: 19px;
  }
}
@media (max-width: 770px) {
  .container .container_elements .container_elements_menu {
    background-image: url("../header.webp");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    border-radius: 19px;
  }
}
.container .container_elements .container_elements_menu .container_elements_menu_img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 770px) {
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 770px) {
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    background-color: #ffffff;
      border-radius: 10px;
      padding: 3px 10px;
  }
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span span {
    font-family: "Candara";
  }
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span span a {
    color: #103f6d;
    text-decoration: none !important;
  }
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span span a:hover {
    color: #ffffff;
  }
}
@media (max-width: 770px) {
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span {
    margin: 6px;
    background-color: #ffffff;
    border-radius: 10px;
      padding: 3px 8px;
      width: 75%;
  }
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
      font-family: "Candara";
  }
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span span a {
    color: #103f6d;
    text-decoration: none !important;
  }
  .container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span span a:hover {
    color: #ffffff;
  }
}
.container .container_elements .container_elements_menu .container_elements_menu_nuv .container_elements_menu_nuv_list .container_elements_menu_nuv_list_span:hover {
  background-color: #103f6d;

}
.container .container_elements .container_elements_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .container_elements .container_elements_info .container_elements_info_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .container_elements .container_elements_info .container_elements_info_about .container_elements_info_about_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E0E9F4;
    font-size: 25px;
    color: #103f6d;
}
@media (max-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_about .container_elements_info_about_text {
        margin-top: 50px;
        padding: 5px 10px 30px;
        border-radius: 18px;
    }
}
@media (min-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_about .container_elements_info_about_text {
        margin: 50px;
        text-align: justify;
        padding: 25px 100px 50px;
        border-top-right-radius: 90px;
        border-bottom-left-radius: 80px;
    }
}
@media (max-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_about .container_elements_info_about_image {
        position: relative;
        margin: -20px -250px 0 0;
        width: 30%;
        height: 30%;
    }
}
@media (min-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_about .container_elements_info_about_image {
        position: relative;
        margin: -70px -600px 0 0;
        width: 30%;
        height: 30%;
    }
}
.container .container_elements .container_elements_info .container_elements_info_composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (min-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_composition {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
}
@media (max-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_composition {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.container .container_elements .container_elements_info .container_elements_info_composition .container_elements_info_composition_teoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E0E9F4;
    border-radius: 18px;
    font-size: 25px;
    color: #103f6d;
}
@media (max-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_composition .container_elements_info_composition_teoria {
        padding: 5px 10px 20px;
        margin: 85px 0 0 0;
    }
}
@media (min-width: 770px) {
    .container .container_elements .container_elements_info .container_elements_info_composition .container_elements_info_composition_teoria {
        padding: 25px 20px 50px;
        margin: 85px 25px 25px 50px;
    }
}
.container .container_elements .container_elements_info .container_elements_info_composition .container_elements_info_composition_teoria .container_elements_info_composition_teoria_text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container .container_elements .container_elements_info .container_elements_info_composition .container_elements_info_composition_teoria .container_elements_info_composition_teoria_text h3 {
    text-align: center;
}
.container .container_elements .container_elements_info .container_elements_info_composition .container_elements_info_composition_teoria .container_elements_info_composition_teoria_img {
    width: 50%;
    height: 50%;
}/*# sourceMappingURL=main.css.map */