* {box-sizing: border-box}
.accordeon__wrapper {
  font-family: sans-serif;
}
.accordeon__section {
  margin-top:30px;
  border: 1px solid #6698FE;
  border-radius: 5px;
  margin-bottom: 10px;
}
.accordeon__header {
  background-color: #E0E9F4;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}
.accordeon__link {
  text-align: center;
  color: #103F6D;
  text-decoration: none;
}
.accordeon__body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.opened .accordeon__body {
  /*   max-height: *.clientHeight; */
}
.accordeon__body *:not(:child){
  padding: 20px;
  margin: 0;
  display: block;
}
.accordeon__body_p {
  display: flex;
  flex-direction:column;
  padding: 20px;
  color:#2B4381;
}
.accordeon__body_p span{
  margin-bottom: 10px;
  margin-top: 10px;
}
.accordeon__body_p img{
  display: flex;
  justify-content: center;
  align-items: center;
}